/* Скидання стилів */

@import url("reset.css");


/* по селектору классу */
.contain {
	color: red;
}

/* по селектору id */
#about {
	color: aqua;
}

/* по селектору тегу */
span {
	color: blueviolet;
}

/* звертання до div з классом one-header
комбінація тег + класс  */
div.one-header {
	color: brown;
}

/* class + class */
.page__text.text {
	color: chartreuse;
}

/* перелік класів */
.hero-two,
.authors-one {
	color: red;
}

/* каскадність. пробіл ОБОВ'ЯЗКОВО!!!
тег а в класі one-header */
.one-header a {
	color: goldenrod;
}

/* клас в класі */
.history .gold-text {
	color: gold;
}

/* тег <p> ТІЛЬКИ ПЕРШОГО рівня вкладеності працює */
.fantasy-this > p {
	color: cadetblue;
}

/* ТІЛЬДА працює на ТОМУ Ж САМОМУ рівні вкладеності */
.some-div ~ p {
	color: rgb(233, 102, 8);
}

/*   +   ще більш суворий. працює ТІЛЬКИ ЗРАЗУ ПІСЛЯ класу
(зручно коли частина якась може бути присутня, а може і не бути,
наприклад заголовок */
.some-div + p {
	color: rgb(247, 12, 247);
}

.history > ul + p {
	color: lightgreen;
}

/* ________________________________________ */

/* селектор атрібуту
во всьому контенті шукає заданий атрибут, можна вказати навіть частину атрибуту */
[class*="eople"]{
	color: olivedrab;
}

/* пріоритет селекторів
1 - як що селектори рівнозначні - то спрацює той, що НИЖЧЕ по коду

2 - чим більше йде уточнення - тим краще - ОСНВНЕ ПРАВИЛО*/

/* id пріоритетніше, тому колір перезаписався, не зважаючи на те, що 
йде вище по коду */
#some-pe-id {
	color: deeppink;
}

.some-pe {
	color: rebeccapurple;
}

/* --------------------------------------------- */

/* inline  це прямий вприск. Пріоритетніше ніж id */






